body{
    background-image:url("bckgrd.jpg");
    background-size: 100%;
}
h1{
    color:rgb(28, 12, 248);
    text-align: center;
    font-size:3vw;

}

.calc{
    margin:auto;
    text-align:center ;
    border: 10px solid rgb(36, 65, 197); ;
    height: 360px;
    width:300px;
    background-color:rgb(36, 65, 197);
    border-radius: 9px;
}
table{
    margin: auto;
}
input{
    border-radius: 9px;
    font-size: 30px;
    margin:auto;
    height: 38px;
    width:285px;
    border:5px solid rgb(36, 65, 197);;
    text-align: right;
    
}
button{
    border-radius: 35px;
    background-color: gray;
    text-align: center;
    height:55px;
    width:65px;
    font-size: 25px;
    color:white;   
    border: 3px solid white; 
}

button:hover{
    color:rgb(26, 14, 14);   

}
.ac{
    color:rgb(236, 60, 6);
    height:40px;
    margin-bottom: 15px;

}




